.footer-container {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.footer-left-side {
  flex: 1;
}

.author-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.author-card p {
  margin: 6px;
}

.footer-profile-picture {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  border: solid;
  border-width: 1px;
}

.author-message {
  color: rgb(66, 65, 65);
  font-size: 15px;
  font-weight: 330;
  line-height: 1.6;
  margin-left: 4px;
}

.external-links {
  margin-left: 5px;
  display: flex;
  gap: 18px;
}

.bi {
  font-size: 24px;
  color: rgb(55, 55, 55);
}

.footer-right-side {
  margin-right: 20px;
}

.footer-section {
  font-weight: 600;
  margin-top: 7px;
  margin-bottom: 14px;
  text-align: right;
}

.insite-link {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 11px;
  color: rgb(66, 65, 65);
  font-size: 15px;
  font-weight: 330;
  text-align: right;
}

.copyright-section {
  margin-left: 12px;
  padding-bottom: 30px;
  font-size: 12px;
  color: rgb(66, 65, 65);
  margin-left: 16px;
}