.mid-container {
  margin-top: 50px;
  margin-left: 12px;
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.text-section {
  margin-right: 24px;
  flex: 1.66;
}

.welcome-message {
  margin-top: 50px;
}

.headline, .dynamic-headline {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}

.icons-container {
  width: 90%;
  height: 140px;
  margin-top: 16px;
  margin-left: 5px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.skill {
  opacity: 0.8;
  transition: 0.2s;
  width: 42px;
}

.skill:hover {
  transform: translateY(-4px) scale(1.6);
  opacity: 1;
  transition: 0.2s;
  filter: none;
}

.text-presentation {
  color: rgb(66, 65, 65);
  font-size: 15px;
  font-weight: 330;
  line-height: 1.6;
  margin: 3px 0px;
}

.picture-column-one {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-right: 12px;
}

.picture-one{
  width: 88%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3)
}

.picture-two{
  width: 105%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3)
}

.picture-three {
  width: 95%;
  border-radius: 12px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3)
}

.picture-column-two {
  flex: 1;
  flex-direction: column;
}

.bottom-buttons {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.projects-button, .resume-button {
  border: none;
  font-weight: 540;
  font-size: 14px;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.bottom-buttons img {
  width: 20px;
  object-fit: cover;
}

.projects-button {
  background-color: black;
  color: white;
  margin-right: 4px;
  transition: 0.3s;
}

.projects-button:hover {
  padding-left: 26px;
  padding-right: 26px;
  transition: 0.3s;
}

.resume-button {
  border-color: rgb(220, 220, 220);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  transition: 0.3s;
}

.resume-button:hover {
  padding-left: 26px;
  padding-right: 26px;
  transition: 0.3s;
}

/* Small screens */
@media screen and (max-width: 1040px) {
  .headline {
    font-size: 32px;
  }
}

/* Small tablets and phones*/
@media screen and (max-width: 768px) {
  .mid-container {
    margin-top: 40px;
    margin-right: 12px;
    flex-direction: column;
  }
  .text-section {
    margin: 0;
  }
  .welcome-message {
    margin-top: 0;
  }
  .headline {
    font-size: 10vw;
  }
  .icons-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .bottom-buttons {
    margin-top: 26px;
  }
  .picture-column-one {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    min-width: 0;
    width: 80%;
    margin: 0;
    margin-top: 30px;
  }
  .picture-one, .picture-two {
    flex: 1 1;
    min-width: 0;
    width: 100%;
    height: 100%;
  }
  .picture-column-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }
  .picture-three {
    width: 80%;
  }
}