.form-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin: auto
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-headline {
  font-size: 42px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

.contact-message {
  color: rgb(66, 65, 65);
  font-weight: 330;
  text-align: center;
}

label {
  display: block;
  color: rgb(66, 65, 65);
  font-size: 16px;
  font-weight: 330;
}

input, select, textarea {
  width: 100%;
  height: 24px;
  padding-left: 4px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 4px;
  border: none;
  border-radius: 8px;
  background-color: rgb(236, 236, 236);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.045);
}

.fullname-section {
  display: flex;
  gap: 30px;
}

.fname-section, .lname-section {
  flex: 1;
}

.box-message {
  height: 80px;
  line-height: normal;
  vertical-align: top; 
  padding-top: 8px;
  padding-bottom: 8px;
  resize: vertical;
}

.submit-button {
  align-self: center;
  width: 78px;
  height: auto;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: 540;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}


