.header-container {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 68px;
  padding: 6px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-picture-container {
  flex: 1;
  display: flex;
}

.profile-picture {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 12px;
}

.header-container a {
  margin: 0 18px;
  font-family: "Public Sans", Helvetica, Arial;
  font-weight: 580;
  font-size: 15px;
  color: rgb(39, 39, 39);
}