body {
  margin: 0;
  background-image:
    linear-gradient(rgba(0, 51, 255, 0.05) 1.4px, transparent 1px),
    linear-gradient(90deg, rgba(0, 51, 255, 0.05) 1.4px, transparent 1px);
  background-size: 214px 214px;
}

.main-container {
  width: 100%;
  max-width: 1050px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px;
}

a {
  text-decoration: none;
}